<!-- การ์ดข้อมูล Dev คนแรก -->
<div style="margin-top: 120px;">
    <div class="border rounded mt-5 mb-5">
        <div class="row mw-100">
            <!-- ตั้งค่า margin เยอะเพราะจะให้มันอยู่ตรงกลางด้านซ้ายโดยที่ขี้เกียจใส่ style -->
            <div class="col-3 mt-4 ms-4 mb-4 me-4">
                <!-- รูปของ Dev -->
                <img src="https://scontent.fbkk28-1.fna.fbcdn.net/v/t1.6435-9/86496969_472667070306649_9026409196052021248_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=174925&_nc_ohc=_Ym2EMhohqMAX-g_ofI&tn=Z4vsGPhseADZ9De4&_nc_ht=scontent.fbkk28-1.fna&oh=f08f7d16e01ffa1152a6120e999d41ac&oe=61960D60"
                    class="rounded-circle img-fluid">
            </div>
            <!-- ส่วนของข้อมูลและช่องทางติดต่อ -->
            <div class="col-7 mt-5">
                <!-- ชื่อ Dev -->
                <h1 class="mb-5">Bike</h1>
                <!-- ข้อมูลทั่วไปของ Dev -->
                <p class="mb-5">
                    one of those dude that make this web site. do back-end code and some data base stuff.
                    love little girl but not that young girl.
                    have many skill but dont know what to master.
                </p>
                <!-- icon เฟส -->
                <a href="https://www.facebook.com/chanokchon.wongjampa.2001" target="_blank">
                    <i class="fa-brands fa-facebook-square fa-2xl me-3 icon-dark"></i>
                </a>
                <!-- icon อินสตาแกรม -->
                <a href="https://www.instagram.com/_powerful_01/" target="_blank">
                    <i class="fa-brands fa-instagram fa-2xl me-3 icon-dark"></i>
                </a>
                <!-- icon github -->
                <a href="https://github.com/colorful2544" target="_blank">
                    <i class="fa-brands fa-github fa-2xl icon-dark"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- ข้อมูล Dev คนแรก -->
    <div class="border rounded mb-5">
        <div class="row mw-100">
            <div class="col-3 mt-4 ms-4 mb-4 me-4">
                <img src="https://scontent.fbkk28-1.fna.fbcdn.net/v/t1.6435-9/66700836_2300109753442791_4064732151008985088_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=174925&_nc_ohc=ypZBNg44sAIAX8JEfxP&_nc_ht=scontent.fbkk28-1.fna&oh=46cb601b785ebd01d6b67603e10f7e9b&oe=61992D59"
                    class="rounded-circle img-fluid">
            </div>
            <div class="col-7 mt-5">
                <h1 class="mb-5">Son (or Sun)</h1>
                <p class="mb-5">
                    the one retarded who make UI of this web site.
                    dont really know what am i doing but it not error so its fine.
                    love cat, and little stuff becase its cute.
                </p>
                <a href="https://www.facebook.com/sonlwl" target="_blank">
                    <i class="fa-brands fa-facebook-square fa-2xl me-3 icon-dark"></i>
                </a>
                <a href="https://www.instagram.com/howcaniplayig/" target="_blank">
                    <i class="fa-brands fa-instagram fa-2xl me-3 icon-dark"></i>
                </a>
                <a href="https://github.com/2son4u" target="_blank">
                    <i class="fa-brands fa-github fa-2xl icon-dark"></i>
                </a>
            </div>
        </div>
    </div>
</div>